ADMIN_LOGIN=admin
ADMIN_PASSWORD_HASH=pbkdf2-sha256$210000$YrAkFusZS3mQP4DPXHTYgQ$uM2V4N7_ovUWvClym0qgD65MNsnktWMOs73rIoRW990
AUTH_SECRET=replace_with_random_secret

# Optional. Defaults to storage/news.json
NEWS_STORAGE_PATH=storage/news.json
